:root {
  --CZ-nime: rgba(54, 210, 98, 1);
  --g-8w-z-7k: rgba(33, 53, 124, 1);
  --n-WER-yc: rgba(255, 255, 231, 1);
  --variable-collection: rgba(245, 245, 245, 1);
  --x: rgba(192, 177, 242, 1);
  --x-7m-3n-RY: rgba(143, 22, 22, 1);
  --z-1v-5ie: rgba(7, 16, 37, 1);
}
